﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <div class="thumbnail">
            <div class="caption">
                <h3>Запись к врачу</h3>
                <p>Для того чтобы записаться к врачу...</p>
                <p>@Html.ActionLink("Записаться", "RecordToDoctor", "Polyclinic", new { @class = "btn btn-default" })</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <div class="caption">
                <h3>Запись на услугу</h3>
                <p>Для того чтобы записаться на услугу...</p>
                <p>@Html.ActionLink("Записаться", "RecordOnService", "Polyclinic", new { @class = "btn btn-default" })</p>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
