﻿
@{
    ViewBag.Title = "RecordToDoctor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class='col-sm-9'>
        <div id="record-to-doctor-wizard">
            <ul>
                <li><a href="#tab1" data-toggle="tab">Введите номер карты</a></li>
                <li><a href="#tab2" data-toggle="tab">Выберете специализацию</a></li>
                <li><a href="#tab3" data-toggle="tab">Выберете врача</a></li>
                <li><a href="#tab4" data-toggle="tab">Выберете дату</a></li>
                <li><a href="#tab5" data-toggle="tab">Вы записаны</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="tab1">
                    <div class="control-group">
                        <input type="text" class="form-control" id="ticket-number">
                    </div>
                </div>
                <div class="tab-pane" id="tab2">
                    <div class="control-group">
                        <div class="dropdown">
                            <button id="post-selector" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="selector-title"></span>
                                <span class="caret"></span>
                            </button>
                            <ul id="posts-menu" class="dropdown-menu" aria-labelledby="dLabel"></ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab3">
                    <div class="control-group">
                        <div class="dropdown">
                            <button id="doctor-selector" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="selector-title"></span>
                                <span class="caret"></span>
                            </button>
                            <ul id="doctors-menu" class="dropdown-menu" aria-labelledby="dLabel"></ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab4">
                    <table id="free-time" class="table table-bordered" data-height="300">
                        <thead>
                            <tr>
                                <th data-field="state" data-radio="true"></th>
                                <th data-field="cabinet">Кабинет</th>
                                <th data-field="time">Время</th>
                                <th data-field="name">ФИО доктора</th>
                                <th data-field="scheduleid" data-visible="false"></th>
                            </tr>
                        </thead>
                        <tbody class="free-time-body">
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="tab5">
                    <p>Вы записаны на прием к врачу.</p>
                </div>
                <ul class="pager wizard">
                    <li class="previous first" style="display:none;"><a href="#">К началу</a></li>
                    <li class="previous"><a href="#">Назад</a></li>
                    <li class="next last" style="display:none;"><a href="#">К концу</a></li>
                    <li class="next"><a href="#">Далее</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
