﻿
@{
    ViewBag.Title = "RecordOnService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class='col-sm-8'>
        <div id="record-on-service-wizard">
            <ul>
                <li><a href="#tab1" data-toggle="tab">Введите номер карты</a></li>
                <li><a href="#tab2" data-toggle="tab">Выберете услугу</a></li>
                <li><a href="#tab3" data-toggle="tab">Выберете дату</a></li>
                <li><a href="#tab4" data-toggle="tab">Вы записаны</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="tab1">
                    <div class="control-group">
                        <input type="text" class="form-control" id="ticket-number">
                    </div>
                </div>
                <div class="tab-pane" id="tab2">
                    <div class="control-group">
                        <div class="dropdown">
                            <button id="service-selector" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="selector-title"></span>
                                <span class="caret"></span>
                            </button>
                            <ul id="service-menu" class="dropdown-menu" aria-labelledby="dLabel"></ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab3">
                    <div class="row">
                        <div class='col-sm-4'>
                            <div class="form-group">
                                <div class='input-group date' id='date-selector'>
                                    <input type='text' class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>                
                </div>
                <div class="tab-pane" id="tab4">
                    <p>Пациент с номером карты {} записан на услугу {} к специалисту {}.</p>
                </div>
                <ul class="pager wizard">
                    <li class="previous first" style="display:none;"><a href="#">К началу</a></li>
                    <li class="previous"><a href="#">Назад</a></li>
                    <li class="next last" style="display:none;"><a href="#">К концу</a></li>
                    <li class="next"><a href="#">Далее</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

