﻿
@{
    ViewBag.Title = "ViewRecordsOnServices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class='col-sm-7'>
        <div id="viewer-records-to-spec-wizard">
            <ul>
                <li><a href="#tab1" data-toggle="tab">Выберете специалиста</a></li>
                <li><a href="#tab2" data-toggle="tab">Записи на услугу</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="tab1">
                    <div class="control-group">
                        <div class="dropdown">
                            <button id="doctor-selector" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="selector-title spec"></span>
                                <span class="caret"></span>
                            </button>
                            <ul id="doctors-menu" class="dropdown-menu" aria-labelledby="dLabel"></ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab2">
                    <table id="spec-records" class="table table-bordered" data-height="300">
                        <thead>
                            <tr>
                                <th data-field="service">Усдуга</th>
                                <th data-field="cabinet">Кабинет</th>
                                <th data-field="time">Дата</th>
                                <th data-field="name">ФИО пациента</th>
                                <th data-field="price">Цена</th>
                            </tr>
                        </thead>
                        <tbody class="spec-records-body"></tbody>
                    </table>
                </div>
                <ul class="pager wizard">
                    <li class="previous first" style="display:none;"><a href="#">К началу</a></li>
                    <li class="previous"><a href="#">Назад</a></li>
                    <li class="next last" style="display:none;"><a href="#">К концу</a></li>
                    <li class="next"><a href="#">Далее</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

