﻿
@{
    ViewBag.Title = "ViewTickets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class='col-sm-7'>
        <div id="viewer-tickets-wizard">
            <ul>
                <li><a href="#tab1" data-toggle="tab">Введите номер карты</a></li>
                <li><a href="#tab2" data-toggle="tab">Талоны</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="tab1">
                    <div class="control-group">
                        <input type="text" class="form-control" id="card-id">
                    </div>
                </div>
                <div class="tab-pane" id="tab2">
                    <h3>Талоны к врачу:</h3>
                    <table id="tickets" class="table table-bordered" data-height="300">
                        <thead>
                            <tr>
                                <th data-field="name">ФИО врача</th>
                                <th data-field="cabinet">Кабинет</th>
                                <th data-field="time">Время</th>
                            </tr>
                        </thead>
                        <tbody class="tickets-body"></tbody>
                    </table>
                    <h3>Талоны на услуги:</h3>
                        <table id="tickets-service" class="table table-bordered" data-height="300">
                            <thead>
                                <tr>
                                    <th data-field="service">Усдуга</th>
                                    <th data-field="name">ФИО специалиста</th>
                                    <th data-field="cabinet">Кабинет</th>
                                    <th data-field="time">Дата</th>
                                    <th data-field="price">Цена</th>
                                </tr>
                            </thead>
                            <tbody class="tickets-service-body"></tbody>
                        </table>
                </div>
                <ul class="pager wizard">
                    <li class="previous first" style="display:none;"><a href="#">К началу</a></li>
                    <li class="previous"><a href="#">Назад</a></li>
                    <li class="next last" style="display:none;"><a href="#">К концу</a></li>
                    <li class="next"><a href="#">Далее</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

