﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-table.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/bootstrap-table.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/Scripts/polyclinic.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Записаться", "Index", "Polyclinic", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Просмотреть записи к врачу", "ViewRecordsToDoctor", "Polyclinic")</li>
                    <li>@Html.ActionLink("Просмотреть записи на услугу", "ViewRecordsOnServices", "Polyclinic")</li>
                    <li>@Html.ActionLink("Просмотреть талоны", "ViewTickets", "Polyclinic")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div id="body-container" style="min-height:500px; padding-top:10px">@RenderBody()</div>
        <div id="exception-container" class="alert alert-danger" role="alert" style="display:none"></div>
        <hr />
        <footer>
            <p>&copy; Mihalev Ilya ✯ https://vk.com/mihalevilya23 © 2017</p>
        </footer>
    </div>
</body>
</html>
